<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets async="true">
    <target name="DateRangeSelectorLog" xsi:type="File"
          fileName="${basedir}/Logs/DateRangeSelector_${shortdate}.txt"
          layout="${time} ${level} ${message}"
          archiveFileName="${basedir}/Logs/Archive/DateRangeSelector_${shortdate}_{#####}.txt"
          archiveAboveSize="1024000"
          archiveNumbering="Sequence"
          maxArchiveFiles="100"
          concurrentWrites="true"
          keepFileOpen="false"
          encoding="iso-8859-2"/>

    <target name="DateTimeRangeSelectorSyncPopupLog" xsi:type="File"
          fileName="${basedir}/Logs/DateTimeRangeSelectorSyncPopup_${shortdate}.txt"
          layout="${time} ${level} ${message}"
          archiveFileName="${basedir}/Logs/Archive/DateTimeRangeSelectorSyncPopup_${shortdate}_{#####}.txt"
          archiveAboveSize="1024000"
          archiveNumbering="Sequence"
          maxArchiveFiles="100"
          concurrentWrites="true"
          keepFileOpen="false"
          encoding="iso-8859-2"/>
    
    
  </targets>

  <rules>
    <logger name="NaitonControls.DateRangeSelector" minlevel="Debug" writeTo="DateRangeSelectorLog"/>
    <logger name="NaitonControls.DateTimeRangeSelectorSyncPopup" minlevel="Debug" writeTo="DateTimeRangeSelectorSyncPopupLog"/>
  </rules>
</nlog>
